[submodule "platforms/P139-MSP430"]
	path = platforms/P139-MSP430
	url = https://github.com/OS-Q/P139.git
[submodule "platforms/P131-STM8S"]
	path = platforms/P131-STM8S
	url = https://github.com/OS-Q/P131.git
[submodule "platforms/P111-AVR"]
	path = platforms/P111-AVR
	url = https://github.com/OS-Q/P111.git
[submodule "arduino/A139-MSP430"]
	path = arduino/A139-MSP430
	url = https://github.com/OS-Q/A139.git
[submodule "arduino/A111-AVR"]
	path = arduino/A111-AVR
	url = https://github.com/OS-Q/A111.git
[submodule "arduino/A131-STM8S"]
	path = arduino/A131-STM8S
	url = https://github.com/OS-Q/A131.git
[submodule "platforms/P128-CH55X"]
	path = platforms/P128-CH55X
	url = https://github.com/OS-Q/P128.git
[submodule "platforms/P117-LGT8F"]
	path = platforms/P117-LGT8F
	url = https://github.com/OS-Q/P117.git
[submodule "platforms/P511-ESP32"]
	path = platforms/P511-ESP32
	url = https://github.com/OS-Q/P511.git
[submodule "platforms/P512-ESP8266"]
	path = platforms/P512-ESP8266
	url = https://github.com/OS-Q/P512.git
[submodule "platforms/P421-ASR6501"]
	path = platforms/P421-ASR6501
	url = https://github.com/OS-Q/P421.git
[submodule "arduino/A421-ASR6501"]
	path = arduino/A421-ASR6501
	url = https://github.com/OS-Q/A421.git
[submodule "arduino/A511-ESP32"]
	path = arduino/A511-ESP32
	url = https://github.com/OS-Q/A511.git
[submodule "arduino/A512-ESP8266"]
	path = arduino/A512-ESP8266
	url = https://github.com/OS-Q/A512.git
