[submodule "platforms/P21-STM32"]
	path = platforms/P21-STM32
	url = https://github.com/OS-Q/P21
[submodule "platforms/P22-GD32V"]
	path = platforms/P22-GD32V
	url = https://github.com/OS-Q/P22
[submodule "platforms/P23-SAM"]
	path = platforms/P23-SAM
	url = https://github.com/OS-Q/P23
[submodule "platforms/P24-Freescale"]
	path = platforms/P24-Freescale
	url = https://github.com/OS-Q/P24
[submodule "platforms/P25-NXPLPC"]
	path = platforms/P25-NXPLPC
	url = https://github.com/OS-Q/P25
[submodule "platforms/P29-STM32L"]
	path = platforms/P29-STM32L
	url = https://github.com/OS-Q/P29
[submodule "platforms/P26-SWM320"]
	path = platforms/P26-SWM320
	url = https://github.com/OS-Q/P26
[submodule "platforms/P27-PIC32"]
	path = platforms/P27-PIC32
	url = https://github.com/OS-Q/P27
[submodule "platforms/P11-AVR"]
	path = platforms/P11-AVR
	url = https://github.com/OS-Q/P11
[submodule "platforms/P12-MEGA"]
	path = platforms/P12-MEGA
	url = https://github.com/OS-Q/P12
